[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/jquery/jquery.git
[submodule "js/bib-publication-list"]
	path = js/bib-publication-list
	url = https://github.com/toastedcrumpets/bib-publication-list.git
[submodule "resources/Font-Awesome"]
	path = resources/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
