[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/jquery/jquery.git
[submodule "js/bib-publication-list"]
	path = js/bib-publication-list
	url = https://github.com/toastedcrumpets/bib-publication-list.git
[submodule "resources/Font-Awesome"]
	path = resources/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "MathJax"]
	path = MathJax
	url = https://github.com/mathjax/MathJax.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
