/*********************************************
 * GLOBAL STYLES
 *********************************************/
.reveal h2 {
    font-size: 2em;
}

.reveal h3 {
    font-size: 1.2em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal {
    font-family: "Mathjax_Main";
    text-transform: initial;
}

.reveal img {
    width:auto;
    height:auto;
    background: none;
}

.reveal figcaption {
    margin:0 5em;
    font-size:0.8em;
}

body.print-pdf .hide-on-pdf,
body.print-pdf .audio-controls,
body.print-pdf .slide-menu,
body.print-pdf .slide-menu-button,
body.print-pdf .chalkboard-button {
    display:none;
}

.reveal .center > * {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.reveal ul {
    display:initial;
}
